{% extends "base.html" %}
{% block head %}
    <!-- Формируется из локации и даты -->
    <title>{{ post.location }}. {{ post.date }}</title>
{% endblock %}
{% block content %}
        <article>
          <ul>
            <li>
              Место: {{ post.location }}
            </li>
            <li>
              Дата: {{ post.date }}
            </li>
            <li>
              Категория: <a href="a">{{ post.category }}</a>
            </li>
          </ul>         
          <p>
            {{ post.text|linebreaksbr }}
          </p>          
        </article>
{% endblock %}
